<%= render 'shared/banner-list', list: @list %>

<div class="container">
  <div class="header d-flex align-items-center justify-content-between my-3">
    <h1 class="m-0">Movies</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#newForm">
      Add a Movie
    </button>
  </div>

<div class="cards-movie">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card" style="width: 24rem;">
      <div class="card-img-top" style="background-image: url(<%= bookmark.movie.poster_url %>);">
        <%= link_to "+", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
        <div class="card-img-rating">
          <span><%= bookmark.movie.rating %></span>/10
        </div>
        <div class="card-img-actions">
          <div class="card-img-actions-buttons">
            <i class="far fa-eye"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"><strong><%= bookmark.movie.title %></strong></h5>
        <p class="card-text"><%= "#{bookmark.movie.overview[0..75]}..." %></p>
        <p class="card-text text-end">
          <i class="fas fa-quote-left"></i>
          <%= bookmark.comment %>
          <i class="fas fa-quote-right"></i>
        </p>
      </div>
    </div>
  <% end %>
</div>

<div class="actions my-3">
  <%= link_to "Back to all Lists", lists_path, class: "btn btn-outline-dark" %>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="newForm" tabindex="-1" aria-labelledby="newFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newFormLabel">Add a new movie to your list: <%= @list.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@list, @bookmark]) do |f| %>
          <%= f.input :comment,
            label: "Add a comment:",
            placeholder: "Extatic? Sad? Disappointing? " %>
          <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Choose a Movie" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
